.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--primario---gris-0, #f5f5f5);
  padding-top: 120px; /* separa del navbar */
  padding-bottom: 60px;
}
